body {
	margin: 0;
	font-size:87.5%;
}

p {
	line-height:140%;
}

body, input, textarea {
font-family: sans-serif;
}

#logo {
	margin-top:5px;
	height:40px;
}

ul {
  list-style: none;
}

.supergrey {
  background-color: #333333;
}
.orange {
  background-color: #ED500A;
}

h1 {padding-bottom:.5em;border-bottom: 1px solid #ddd;}

/*a:visited{ color: blue;}*/

.red {background-color: red; color: white;}
.red a {background-color: red; text-decoration:none; color:white;}
.green {background-color:green;color:white;}
.green a {background-color:green; text-decoration:none;color:white;}
.grey {background-color: #333; color: white;}
.grey a {background-color: #333; text-decoration:none; color:white;}
.right_float {
float: right;}

.actbutton{
  border: 1px solid #ccc;
  padding: 20px 0;
  text-decoration: none;
  font-size: 120%;
  color: white;
/*background-color: #333;*/
  /*background: green;*/
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

.actbutton a, a:hover, a:visited {
    /*color: white;*/
}
.actbutton:hover {
    cursor: pointer;
    /*background: green;*/
}

.button{
  border: 1px solid #ccc;
  padding: 4px 6px;
  margin: 0 0 0 2px;
  text-decoration: none;
  color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc) );
  background: -moz-linear-gradient(top,  #eeeeee, #cccccc);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.disable{
  border: 1px solid #ccc;
  padding: 4px 6px;
  margin: 0 0 0 2px;
  text-decoration: none;
  color: #ccc;
  background: #eee;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc) );
  background: -moz-linear-gradient(top,  #eeeeee, #cccccc);*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.button:visited{
  color: black;
}

.disable:visited{
  color: #ccc;
}

#left_button{
  background: url("img/left.png") no-repeat;
  border: none;
  height: 44px;
  width: 50px;
}

#right_button{
  background: url("img/right.png") no-repeat 0 2px;
  border: none;
  height: 40px;
  width: 50px;
}

#outer {
  margin: auto;
  text-align: left;
  width: 1024px;
}

#mask {
	z-index: 100;
	position: absolute;
	background: #333;
	filter:alpha(opacity=90);
	-moz-opacity:0.90;
	-khtml-opacity: 0.90;
	opacity: 0.90;  
	width: 635px;
	top: 160px;
	height: 575px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}
#login_menu{
  text-align: right;
  padding: 5px;
  height:50px;
  /*background: #eee;*/
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(#555), to(#333) );
  background: -moz-linear-gradient(top,  #555, #333);
}

#login_links {
  padding-top:30px;
}

#login_menu img {
  float: left;
  display: inline;
}

#login_menu a:visited, a:link {
  text-decoration: none;
  color: white;
}

#login_menu a:hover{
  text-decoration: none;
  color: #ED500A;
}

#login_menu h2 {
  text-align: center;
  font-size: 150%;
  height: 30px;
  float: left;
}

#header {
  text-align: center;
  font-size: 160%;
}

/* Studies */
.past {
	background:#ddd;
}

.present {
	background:#99CC33;
}
.future {
	background-color: #555;
}

.past a {
	color: #fff;
}

.past {
	background: url('/media/img/tick.png') center top no-repeat #ddd;
}


.present a {
  color: #fff;
  background-color: #99CC33;
}

.future a {
	background-color: #555;
	color:#fff;
}

.future	 {
	margin-right: 1px;
}

#stages_nav li.active.future a {
	border-right:none;
}

#stages_nav {
	text-align: center;
	margin:20px 0;
}

#stages_nav ul {
  padding: 5px 0 0 0;
  list-style: none;
	margin: 0 auto;
	overflow: hidden;
}

#stages_nav li {
  display: inline;
  float:left;
	margin-bottom: -1000px;
	padding-bottom: 1000px;
}

#stages_nav li a {      
	text-decoration: none;
	position: relative;
	display: block;
	float:left;
	min-height:10px;
	text-align:center;
	width:100%;
	padding:20px 0;
}

/*
#stages_nav li a:after{
    content: " ";
    overflow:hidden;
            display: block;
            width: 0;
            height: 0;
            border-top: 50px solid transparent;           
            border-bottom: 50px solid transparent;
            border-left: 30px solid;
            position: absolute;
            top: 50%;
            margin-top: -50px;
            left: 100%;
            z-index: 2;

}

#stages_nav li a:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        border-bottom: 50px solid transparent;
        border-left: 30px solid white;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
}
*/

#stages_nav li.active {
	background: #ed500a;
}

#stages_nav li.active a{
	color: white;
	background: #ed500a;
	margin-top:-5px;
	/*color: #99CC33;*/
	/*color: #ed500a;*/

	/*  padding: 15px 5px;
	background: #FFFC00;*/
}

#supertabs ul {
	border-bottom: 1px solid #ddd; /* set border COLOR as desired */
	margin:0;
	padding:0 0 10px 0;
}

#supertabs ul li {
	display: inline;
	position:relative;
	margin-right: 5px;
	padding: 10px 10px 10px 10px;
	border-top: 1px solid #ddd; /* set border COLOR as desired */
	border-left: 1px solid #ddd; /* set border COLOR as desired */
	border-right: 1px solid #ddd; /* set border COLOR as desired */
	cursor: hand; 
	cursor: pointer; 
	-webkit-border-top-right-radius: 5px 5px;
	-webkit-border-top-left-radius: 5px 5px;
	-moz-border-radius-topright: 5px 5px;
	-moz-border-radius-topleft: 5px 5px;
}

.on {
	position:relative;
	top: 1px;
	font-weight:bold;
	background-color: #1a82f7;
	background: -moz-linear-gradient(100% 100% 90deg, #fff, #f2f2f2);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#fff));
}

.supertabs ul li a, a:visited, a:hover {
	text-decoration: none;
}

#inv_stages_nav {
  text-align: center;
  display:block;
}

#inv_stages_nav ul li ul{
  margin: auto;
  height: 80px;
  position: relative;
  top: 20px;
  padding: 0;

}

#inv_stages_nav li{
  display: inline;
  border: 1px solid white;
  padding: 15px 5px;
}

#inv_stages_nav li.active {
  display: inline;
  border: 10px solid black;
  padding: 15px 5px;
  background: #FFFC00;
}

.clear {
  clear:both;
}

/* Show one study*/
#stage_info {
}

.stage_panel p {
  margin: 0;
  clear: both;'
}

.stage_header {

}

.stage_header table {
	border-top:10px #ED500A solid;
  border-collapse: collapse;
  -moz-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
	background:#fafafa;
	margin: 0 auto;
	width: 900px;
}

.stage_header table tr td {
	border: 1px solid #ddd;  
	padding: 10px;  
	vertical-align: top;
}

.stage_header h2 {
  left: 0;
  font-size: 150%;
  font-weight: bold;
}

.stage_header h2.first {
	margin-top:0;
}

.stage_header h2.stage_status {
	padding:10px 0;
}

.stage_header h2.stage_status span {
	padding:10px;
}

.stage_header a {
  float: left;
  margin-top: 15px;
	width:100%;
	text-align:center;
	background: -moz-linear-gradient(100% 100% 90deg, #669933, #99CC33);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CC33), to(#669933));
}

.stage_header a:hover {
	background: -moz-linear-gradient(100% 100% 90deg, #99CC33, #669933);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#669933), to(#99CC33));
}

.stage_header a:active {
	background: orange;
}


.table_wrapper table{
  width: 100%;
  margin: 5px;
}

.table_wrapper th {
  text-align: left;
  text-decoration: underline;
}

.table_wrapper td {
  padding: 5px 0;

}

#study_manage a {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

#center {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.stage_label{
  margin-top: 10px;
}

#study_manage {
    padding:15px;
}
#study_details{
  margin-top: 5px;
  /*border: 1px solid #ccc;
  padding: 0 5px;*/
}

#study_details h2 {
  border: 1px dotted #C1CDCD;
  padding: 6px 0;
  font-size: 110%;
}

#study_details h2 a {
  text-decoration: none;
  color: #333;
	display:block;
	width:100%;
}

.right {
  background: url("/media/img/right_arrow.png") no-repeat 3px 0px;
  border: none;
  padding-left: 30px;
}

.down {
  background: url("/media/img/down_arrow.png") no-repeat 3px 0;
  border: none;
  padding-left: 30px;
}

#login_inner {
  margin: auto;
  margin-top: 40px;
  text-align: left;
  border: 1px solid #ddd;
  background: #fafafa;
  width: 300px;
  padding: 20px;
  text-shadow: 2px 2px 2px #fff;
  -moz-box-shadow: 5px 5px 5px #ddd;
  -webkit-box-shadow: 5px 5px 5px #ddd;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
}

#login_inner label {
	margin: 10px 0;
}

#login_inner input[type=text], #login_inner input[type=password] {
	margin:10px 0;
}

#login_inner input:focus {
	-moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;
  box-shadow: 5px 5px 5px #ccc;
}

#login_submit {
  width: 100%;
  float: right;
  margin-top: 10px;
	padding: 10px;
  /*border: 1px solid green;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-shadow: 1px 1px 1px #fff;
  font-size: 100%;*/
	background: -moz-linear-gradient(100% 100% 90deg, #669933, #99CC33);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CC33), to(#669933));
}

#login_submit:hover {
  background: -moz-linear-gradient(100% 100% 90deg, #99CC33, #669933);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#669933), to(#99CC33));
}

#login_submit:active {
  background: orange;
}

p.error {
	margin:0 0 10px 0;
	padding:5px;
	border:1px solid #ff0000;
	background:#ff7070;
	color:#fff;
	text-shadow:none;
}

.login_input{
  width: 286px;
  border: 1px solid #ccc;
  padding:5px;
  font-size: 100%;
}

/* Show Many Studies */
.many_studies {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}

.many_studies table{
  width: 1012px;
  margin: 10px 5px;
}

.many_studies li{
  list-style: none;
  border: 1px solid #ccc;
}

.many_studies h3 {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  background: #ddd;
}
.many_studies p {
  padding: 5px;
  margin: 5px 0;
}
.micro_study_options{
  text-align: right;
  padding: 10px 5px;
}

.micro_stages{
  text-align: center;
  margin: 20px 0;
  height: 100px;
}

.micro_stages tr {
  height: 100px;
}

.micro_stage_box{
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid black;
  display:inline;
  color: blue;
}

.micro_stage_name{
  padding: 15px;
}

.table_stage_info {
  border-top: solid 1px #ccc;
}

.table_label {
  width: 20%;
  font-weight: bold;
  color: #444;
}

.table_stage_info td{
	padding: 5px;
	border-bottom: solid 1px #ccc;
}

#modal_background{
  width: 100%;
  height: 100%;
  /*opacity: 0.8;*/
  z-index: 100;
  position: absolute;
  background: url("/media/img/transparent_bg.png");
  text-align: center;
}

#modal_dialog{
  width: 400px;
  padding: 8px;
  border: 1px solid green;
  text-align: left;
  z-index: 110;
  margin: auto;
  margin-top: 200px;
  background: #eee;
  /*-moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;*/

}

#modal_dialog button {
  float: right;
}

/*** Messaging ***/

#inbox{
  margin: auto;
  margin-top: 100px;
  width: 700px;
  border: 1px solid #ccc;
  text-align: left;
  background: white;
	padding: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
  /*-moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;*/
}

#inbox h2, h3 {
  padding: 5px;
  margin: 5px 0;
 
}

#inbox h2 {
  text-align: center;
  color: #302F22;
  padding: 2px 0;
  font-size: 200%;
}

#inbox h3 {
  padding: 5px;
  margin: 5px 0;
}

#inbox h2 {
	text-align: center;
	color: #302F22;
	padding: 4px 5px;
	margin: 0 0 0 0;
	font-size: 200%;
}

#inbox h3{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #eee;
}

#inbox button {
  float: right;
  margin-top: 0px;
}

.unread_header{
  color: #FA1F36;
}

.unread ul, .read ul, .sent ul{
  padding: 5px;
  margin: 0;
}

.unread li, .read li, .sent li{
  list-style: none;
  margin: 0;
  padding: 0;
}

#inbox h4 {
  margin: 0 0 4px 0;
}

.unread h4 {
  border: 1px solid #66632F;
  background: #B1E500;
  padding: 4px;
}

.read h4, .sent h4{
  border: 1px solid #8AB5BF;
  background: #E4F7FF;
  padding: 4px;
}

#inbox p{
  margin: 0;
  padding: 2px 4px;
}

.message_info{
  color: #999;
}

#close_message{
  border: none;
  width: 25px;
  height: 26px;
}

#close_message:hover{
	background: url("/media/img/close_nofade.png") no-repeat 0px 0px
}

.close_fade{
  background: url("/media/img/close_fade.png") no-repeat 0px 0px;
}

.close_nofade{
  background: url("/media/img/close_nofade.png") no-repeat 0px 0px;
}

/* Message Nav */
#message_options_nav {
  margin: 0;
  padding: 5px;
  border-bottom: 5px solid #ccc;
}

#message_options_nav li{
  display: inline;
  margin-bottom:1px;
  margin-left: 5px;
}

#message_options_nav li a {
	border-top: 1px solid #ccc; /* set border COLOR as desired */
	border-left: 1px solid #ccc; /* set border COLOR as desired */
	border-right: 1px solid #ccc; /* set border COLOR as desired */
	-webkit-border-top-right-radius: 5px 5px;
	-webkit-border-top-left-radius: 5px 5px;
	-moz-border-radius-topright: 5px 5px;
	-moz-border-radius-topleft: 5px 5px;
}

.not_current_tab{
  border: 1px solid #ccc;
  border-bottom: none;
  padding: 4px;
  color: #888;
  text-decoration:none;
  background: #eee;
}

.current_tab{
  padding: 10px;
  text-decoration:none;
  color: #fff;
  background: -moz-linear-gradient(100% 100% 90deg, #669933, #99CC33);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#99CC33), to(#669933));
}

#sent_messages{
  margin: 5px;
}

#compose_messages{
  margin: 5px;
}

#compose_left{
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  height: 280px;
  overflow: auto;
  margin-right: 5px;
}

#compose_left h4{
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 5px 0;
  background: #f8f8f8
}

#compose_right{
  border: 1px solid #ccc;
  float: left;
  width: 430px;
  margin-bottom: 4px;
}

#compose_right label{
  margin: 5px;
}
#compose_right label, #compose_right input{
  display: block;
}

#compose_right input{
  width: 410px;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 5px;
}

#message_form input[type=submit]{
	float: right;
	border: 1px solid #aaa;
	padding: 4px 6px;
	margin: 3px 1px;
	font-size: 100%;
	border-radius: 3px;
	-webkit-border-radius:3px;
	-moz-border-radius: 3px;
	text-shadow: 1px 1px 1px #eee;
}

#compose_right textarea{
	width: 410px;
	border: 1px solid #ccc;
	padding: 3px;
	min-height: 200px;
	margin: 5px;
}

.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
