body {
  text-align: center;
  margin: 0;
  
}

body, input, textarea {
font-family: "Arial", sans-serif;
}

h1 { border-bottom: 1px solid #ddd;}

/*a:visited{ color: blue;}*/

.red {color: red;}
.red a {color: red; text-decoration:none;}
.green {color:green;}
.green a {color:green; text-decoration:none;}

.right_float {
float: right;}

.button{
  border: 1px solid #ccc;
  padding: 4px 6px;
  margin: 0 0 0 2px;
  text-decoration: none;
  color: black;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc) );
  background: -moz-linear-gradient(top,  #eeeeee, #cccccc);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

.disable{
  border: 1px solid #ccc;
  padding: 4px 6px;
  margin: 0 0 0 2px;
  text-decoration: none;
  color: #ccc;
  background: #eee;
  /*background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc) );
  background: -moz-linear-gradient(top,  #eeeeee, #cccccc);*/
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;

}

.button:visited{
  color: black;
}

.disable:visited{
  color: #ccc;
}

#left_button{
  background: url("img/left.png") no-repeat;
  border: none;
  height: 44px;
  width: 50px;
}

#right_button{
  background: url("img/right.png") no-repeat 0 2px;
  border: none;
  height: 40px;
  width: 50px;
}

#outer {
  margin: auto;
  text-align: left;
  width: 1024px;
}

#login_menu{
  text-align: right;
  border: 1px solid #ccc;
  border-top: none;
  padding: 5px;
  background: #eee;

}

#header {
  text-align: center;
  font-size: 160%;
}

/* Studies */
#stages_nav{
  text-align: center;
}

#stages_nav ul{
  margin: auto;
  height: 80px;
  position: relative;
  top: 20px;
  padding: 0;

}

.past {
  background-color: #eee;
}

.present {
  background-color: #fff;
}

.future {
background-color: #ddd
}
.not_active{
  display: inline;
  border: 1px solid white;
  padding: 15px 5px;
}

.active {
  display: inline;
  border: 1px solid black;
  padding: 15px 5px;
  background: #FFFC00;
}

/*link within list item*/
.stage_box{
  padding: 10px 15px;
  border: 1px solid black;

  text-decoration: none;
}

.clear {
  clear:both;
}



/* Show one study*/
#stage_info{
  border: 1px solid #ccc;
}

.stage_panel p{

  padding: 10px 5px;
  margin: 0;
  clear: both;'
}

.stage_header {

  padding: 5px;

}

.act_container_header {
  padding: 5px;
  border-bottom: 1px solid #ccc;
  background: #eee;
  font-weight: bold;
}

.stage_sofar{
  border-top: 1px solid #ccc;
  text-align: right;
}

.stage_header h2 {
  display: inline;
  position: relative;
  left: 0;
  font-size: 120%;
  font-weight: normal;
  
}
.stage_header a{
  float: right;
  margin-left: 10px;
}

.stage_instructions_header{
  padding: 5px;
  border-bottom: 1px solid #ccc;
  background: #eee;
  font-weight: bold;
}

.stage_instructions_header a {
  float: right;
}

.table_wrapper table{
  width: 100%;
  margin: 5px;
}

.table_wrapper th {
  text-align: left;
  text-decoration: underline;
}

.table_wrapper td {
  padding: 5px 0;

}

#study_manage a {
  float: right;
  margin-top: 10px;
  margin-left: 10px;
}

.stage_label{
  margin-top: 10px;
}

#study_manage {
  margin-bottom: 10px;
}
#study_details{
  margin-top: 5px;
  /*border: 1px solid #ccc;
  padding: 0 5px;*/
}

#study_details h2{
  border: 1px dotted #C1CDCD;
  padding-top: 6px;
  font-size: 110%;
}

#study_details h2 a {
  text-decoration: none;
  color: #333;
}

.right {

  width: 30px;
  height: 20px;
  background: url("/media/img/right_arrow.png") no-repeat 3px 0px;
  border: none;
  padding-left: 30px;
}

.down {
  width: 30px;
  height: 25px;
  background: url("/media/img/down_arrow.png") no-repeat 3px 5px;
  border: none;
padding-left: 30px;
}

#login_outer{
  text-align: center;
}

#login_inner {
  margin: auto;
  margin-top: 40px;
  text-align: left;
  border: 1px solid #ccc;
  background: #eee;
  width: 300px;
  padding: 10px;
  text-shadow: 2px 2px 2px #fff;
  -moz-box-shadow: 5px 5px 5px #ddd;
  -webkit-box-shadow: 5px 5px 5px #ddd;
}

#login_submit {
  width: 120px;
  float: right;
  margin-top: 10px;
  border: 1px solid green;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  text-shadow: 1px 1px 1px #fff;
  font-size: 100%;
}

#login_submit:hover {
  background: #ddd;
}

.login_input{
  width: 286px;
  border: 1px solid #ccc;
  padding:5px;
  font-size: 100%;
}

/* Show Many Studies */
.many_studies {
  margin: 0px;
  margin-top: 10px;
  padding: 0px;
}

.many_studies table{
  width: 1012px;
  margin: 10px 5px;
}

.many_studies li{
  list-style: none;
  border: 1px solid #ccc;
}

.many_studies h3 {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  background: #ddd;
}
.many_studies p {
  padding: 5px;
  margin: 5px 0;
}
.micro_study_options{
  text-align: right;
  padding: 10px 5px;
}

.micro_stages{
  text-align: center;
  margin: 20px 0;
  height: 100px;
}

.micro_stages tr {
  height: 100px;
}

.micro_stage_box{
  padding: 10px 15px;
  margin-bottom: 10px;
  border: 1px solid black;
  display:inline;
  color: blue;
}

.micro_stage_name{
  padding: 15px;
}

.table_stage_info {
  border-top: solid 1px #ccc;
  

}

.table_label {
  width: 20%;
  font-weight: bold;
  color: #444;
}
.table_stage_info tr {
  
}

.table_stage_info td{
padding: 5px;
  border-bottom: solid 1px #ccc;
}

#modal_background{
  width: 100%;
  height: 100%;
  /*opacity: 0.8;*/
  z-index: 100;
  position: absolute;
  background: url("/media/img/transparent_bg.png");
  text-align: center;
  
}

#modal_dialog{
  width: 400px;
  padding: 8px;
  border: 1px solid green;
  text-align: left;
  z-index: 110;
  margin: auto;
  margin-top: 200px;
  background: #eee;
  /*-moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;*/

}

#modal_dialog button {
  float: right;
}

/*** Messaging ***/
#inbox{
  margin: auto;
  margin-top: 100px;
  width: 700px;
  border: 1px solid #ccc;
  text-align: left;
  background: white;
  /*-moz-box-shadow: 5px 5px 5px #ccc;
  -webkit-box-shadow: 5px 5px 5px #ccc;*/
}

#inbox h2, h3 {
  padding: 5px;
  margin: 5px 0;
 
}

#inbox h2 {
  text-align: center;
  color: #302F22;
  padding: 2px 0;
  font-size: 200%;
}

#inbox h3 {
  padding: 5px;
  margin: 5px 0;
 
}


#inbox h2 {
  text-align: center;
  color: #302F22;
padding: 4px 5px;

  margin: 0 0 0 0;
  font-size: 200%;
}

#inbox h3{
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background: #eee;
  
 
}

#inbox button {
  float: right;
  margin-top: 0px;
}

.unread_header{
  color: #FA1F36;
}

.unread ul, .read ul, .sent ul{
  padding: 5px;
  margin: 0;
}

.unread li, .read li, .sent li{
  list-style: none;
  margin: 0;
  padding: 0;
}

#inbox h4 {
  margin: 0 0 4px 0;
}

.unread h4 {
  border: 1px solid #66632F;
  background: #B1E500;
  padding: 4px;
}

.read h4, .sent h4{
  border: 1px solid #8AB5BF;
  background: #E4F7FF;
  padding: 4px;
}

#inbox p{
  margin: 0;
  padding: 2px 4px;
}

.message_info{
  color: #999;
}

#close_message{
  border: none;
  width: 25px;
  
  height: 26px;
}

#close_message:hover{
background: url("/media/img/close_nofade.png") no-repeat 0px 0px
}

.close_fade{
  background: url("/media/img/close_fade.png") no-repeat 0px 0px;
}

.close_nofade{
  background: url("/media/img/close_nofade.png") no-repeat 0px 0px;
}

/* Message Nav */
#message_options_nav {
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #ccc;
}

#message_options_nav li{
  display: inline;
  margin-bottom:1px;
  margin-left: 5px;
}

.not_current_tab{
  border: 1px solid #888;
  border-bottom: none;
  padding: 4px;
  color: #888;
  text-decoration:none;
  background: #eee;
}

.current_tab{
  border: 1px solid #7bb24e;
  border-bottom: none;
  padding: 4px;
  text-decoration:none;
  color: #777;
  background: #BEFF89;
}

#sent_messages{
  margin: 5px;
}

#compose_messages{
  margin: 5px;
}

#compose_left{
  border: 1px solid #ccc;
  float: left;
  width: 250px;
  margin-right: 5px;
}

#compose_right{
  border: 1px solid #ccc;
  float: left;
  width: 430px;
}

#compose_right label, #compose_right input{
  display: block;
}

#compose_right input{
  width: 410px;
  border: 1px solid #ccc;
  padding: 3px;
  margin: 5px;
  
}

#compose_right textarea{
  width: 410px;
  border: 1px solid #ccc;
  padding: 3px;
  min-height: 200px;
 margin: 5px;
}
