


/* Video conferencing box */

.admin_video_console {
    border-style:solid;
	border-width:1px;
	border-color:black;
}


.hidden_data {
    display:none;
}


#opentok_console {
	width: 400px;
	font-family: 'courier', monospace;
	font-size: 12px;
}

#links {
}

#links a, input {
	display: none;
}

#sessionControls {
}

#pubControls input {
	display: inline;
}

#publishForm {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}

#deviceManagerControls {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
}
	
#action a {
	display:none;
}

#localview {
	width: 250px;
}

div.controls {
	width:220px;
	font-size: 14px;
}

.videobar {
}

.videobar-left {
	width: 250px;
}

.smalltype {
	font-size: 80%;
	padding-bottom: 6px;
}

.description {
	font-size: 90%;
	padding-top: 6px;
}

#controls {
	text-align: left;
	padding-right: 10px;
}

#publisherControls {
	display: none;
}

#push-to-talk {
	display: none;
}

#devicePanelContainer {
	position: absolute;
	left: 250px;
	top: 10px;
	display:none;
}

#devicePanelCloseButton {
	position: relative;
	z-index: 10;
	margin-left: 285px;
	margin-right: 12px;
	padding: 3px;
	text-align: center;
	font-size: 11px;
	background-color: lightgrey;
}

#devicePanelBackground {
	background-color: lightgrey;
	width: 340px;
	height: 230px;
}

#devicePanelInset #devicePanel {
	position: relative;
	top: -74px;
	left: -9px;
}

.vid_request_link {
    color:black;
}

a.settingsClose:link,
a.settingsClose:visited,
a.settingsClose:hover {
	text-decoration: none;
	cursor: pointer;
}

table {
	clear: both;
}

td {
	vertical-align: top;
	padding-right: 15px;
}

.publisherContainer {
}

.subscriberContainer {
	width: 264px;
	margin-left: 4px;
}


