/* study.css
*   All css for displaying the /study subpaths
*
*   Basically, things that are shown to the PARTICIPANTS.
*/


/* Studies */
.past {
	background:#ddd;
}

.present {
	background:#99CC33;
}
.future {
	background-color: #555;
}

.past a {
	color: #fff;
}

.past {
	background: url('/media/img/tick.png') center top no-repeat #ddd;
}


.present a {
  color: #fff;
  background-color: #99CC33;
}

.future a {
	background-color: #555;
	color:#fff;
}

.future	 {
	margin-right: 1px;
}

#stages_nav li.active.future a {
	border-right:none;
}

#stages_nav {
	text-align: center;
	margin:20px 0;
}

#stages_nav ul {
  padding: 5px 0 0 0;
  list-style: none;
	margin: 0 auto;
	overflow: hidden;
}

#stages_nav li {
  display: inline;
  float:left;
	margin-bottom: -1000px;
	padding-bottom: 1000px;
}

#stages_nav li a {      
	text-decoration: none;
	position: relative;
	display: block;
	float:left;
	min-height:10px;
	text-align:center;
	width:100%;
	padding:20px 0;
}


#stages_nav li.active {
	background: #ed500a;
}

#stages_nav li.active a{
	color: white;
	background: #ed500a;
	/*margin-top:-5px;*/
	/*color: #99CC33;*/
	/*color: #ed500a;*/

	/*  padding: 15px 5px;
	background: #FFFC00;*/
}