

body {
background-color: #ddd;
}

#wrap {
    width: 700px;
    margin-left: auto ;
    margin-right: auto ;

    
}
.hidable {
    margin-left:auto; 
    margin-right:auto;
    text-align:center;   
}
.pointtwo {
    font-size: 1.2em;
}
#instr {
    width:600px; 
    margin-top: 0px;
}

#instr p {
    text-align:left;
}

#fixation {
    width:80px; 
    margin-top: 230px;
    font-size:2.0em;     
}
#flankfixation {
    width:80px; 
    margin-top: 235px;
    font-size:2.0em; 

}

#stim {
    width:40px; 
    margin-top: 200px;
    font-size:6.0em;
}
#stimtable {
    display: none;
    width:500px; 
    margin-top: 30px;
    font-size:6.0em;
    
}
#stimtable table {
    line-height: 0px;
    background-color: #fff;
}
#stimtable table tbody tr {
    /*height: 115px;*/
    padding-bottom: 0px;
    margin: 0px;
    
 }
#stimtable table tbody tr td {
    vertical-align: top;
    padding: 0px;
 }   
 
 .flankerstim {
     width: 90px;
     height: 90px;
 }
 
 .frontimg {
    }
.backimg {
    
   }