body {
background-color: #ddd;
}

#wrap {
    width: 600px;
    margin-left: auto;
    margin-right: auto ;

    
}
#grid {
    background-color: #aaa;
    position: absolute;
    left: 150px;
    top: 50px;
    width: 600px;
    height: 600px;
    border: 5px solid #555;
    z-index: 1;
}

.gridspace {
    position: absolute;
    left: 150px;
    top: 50px;
    width: 420px;
    height: 420px;
    border: 5px solid #555;
    z-index: 10;
    display: none;
}
#gridmask{
    background-color: #666;
}
.gridspace h2 {
    
    padding-top: 180px; 
    text-align: center; 
    color: white;
}

.trans{
    opacity: 0.8;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    -khtml-opacity: 0.8;
    -ms-filter: “progid:DXImageTransform.Microsoft.Alpha(Opacity=80)”;
}

#scorediv {
	position:absolute;
	top:300px;
	left: 600px;
	width: 300px;
	z-index: 5;
	
}
#target {
    background-color: #aaa;
    position: absolute;
    left: 395px;
    top: 295px;
    width: 200px;
    height: 100px;
    border-top: 5px dashed #555;
    border-bottom: 5px dashed #555;
    border-right: 5px dashed #555;
    z-index: 2;
}

#button {
      /*background-color: green;
      color:white;
      position: relative;
      left: 0px;
      top: 10px;
        border: 3px solid #555;
        padding: 3px;
        text-decoration: none;
        text-align: center;
        font-size: 120%;
        color: white;
        width: 200px;
      /*background-color: #333;*/
        /*background: green;*/
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
}

}
a {
    font-size: 1.4em;
    text-decoration: none;
    color: #000;
    padding-top:30px;
}
a:visited{
    color: #000;
}
.actbutton{
  border: 1px solid #ccc;
  padding: 6px;
  text-decoration: none;
  font-size: 120%;
  color: white;
/*background-color: #333;*/
  /*background: green;*/
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.green {background-color:green;color:white;}
.green a {background-color:green; text-decoration:none;color:white;}

#button:hover {
    cursor: pointer;
}
#button2:hover {
    cursor: pointer;
}

#timer {
    position: absolute;
    top: 480px;
    left: 180px;
}
#timerdone {
    padding-top: 494px;
    width: 600px;
    margin-left: 0px;
}
#rules p{
    font-size: 1.2em;
}
.car{
    width: 96px;
    height: 96px;
    position:absolute;
    background-color: #f00;
    border: 2px solid;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: 5;
}