body {
background-color: #ddd;
}

#wrap {
    width: 700px;
    margin-left: auto ;
    margin-right: auto ;

    
}
#grid {
    background-color: #aaa;
    position: absolute;
    left: 150px;
    top: 50px;
    width: 600px;
    height: 600px;
    border: 5px solid #555;
    z-index: 1;
}

#scorediv {
	position:relative;
	top:350px;
	left: 360px;
	width: 300px;
	z-index: 5;
	
}
#target {
    background-color: #aaa;
    position: absolute;
    left: 395px;
    top: 295px;
    width: 200px;
    height: 100px;
    border-top: 5px dashed #555;
    border-bottom: 5px dashed #555;
    border-right: 5px dashed #555;
    z-index: 2;
}

#button {
    position: relative;
    left: 0px;
    top: 430px;
    width: 200px;
    height: 70px;
    background-color: #aaa;
    
    text-align: center;
    vertical-align: middle;
    font-size: 26px;
    font-style: bold;
    border: 4px solid #555;
    -moz-border-radius: 16px;
    border-radius: 16px;

}
#button:hover {
    cursor: pointer;
}
.car{
    width: 96px;
    height: 96px;
    position:absolute;
    background-color: #f00;
    border: 2px solid;
    -moz-border-radius: 6px;
    border-radius: 6px;
    z-index: 5;
}